body
{
    color:rgb(19, 211, 19);
    background:springgreen;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera
{
    border: 2px dashed silver;
    width: 350px;
    height: 300px;
}
.name_of_objects,#result_object_name  , #result_object_accurancy
{
    color: purple
}